{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    td { padding: 0 15px 0 15px;, text-align: left; }
    .module { float: left; width: 40%;}
    
    #paypal-button-container { width: 30%;}
</style>

<div class="example-wrapper">
    <h1>Check out - Confirm & make payment:</h1>

	<br/>
	
	<div class='module module-address'>
		<h3>Shipping details</h3>
		<br/>
		{{ user.firstName }} {{ user.lastName }}<br/>
		{{ user.addressLineOne }}<br/>
		{{ user.addressLineTwo }}<br/>
		
		{% if user.addressLineThree %}
			{{ user.addressLineThree }}<br/>
		{% endif %}
		
		{{ user.addressCity }}<br/>
		{{ user.addressCounty }}<br/>
		{{ user.addressPostcode }}<br/>
		{{ user.addressCountryCode }}<br/>
	</div>
	
	
	<div class='module module-basket'>
		<h3>Your order</h3>
		<br/>
		{{ include('checkout/basket_table.html.twig', {'readonly' : true}) }}
		<br/><br/><br/>	
	</div>
	
	<div style='width: 10%;'>
	
	<script src="https://www.paypal.com/sdk/js?client-id=AY7oR6XMZ2myyJEdrwwqIHm2e0OYTypWbLUiF2dd2CFe40YZavEh5Gerjmbvo4OWPXanWFaoNZcdCzEz"></script>
	
	<script>
	  paypal.Buttons({
	    createOrder: function(data, actions) {

	      return actions.order.create({
	        purchase_units: [{
	         "intent":"AUTHORIZE",
	          "amount": {
	           "reference_id": '1_1',
	            "value":'{{ basket.basket_total }}',
		        "details": {
		          "subtotal": '{{ basket.basket_total }}',
		          "shipping": "0.00",
		          "tax": "0.00"
		        },
		        "breakdown": {
		        	'unit_total': '{{ basket.products|length }}',
		        	'item_total': { 
			        		"value": '{{ basket.basket_total }}', 
			        		"currency_code":"USD"
			        	},
		        },
		        "total": '{{ basket.basket_total }}'
		      },
	          "items": [
		        {% for product in basket.products %}
			        {
			        	"sku": '{{ product.product.id }}',
			        	"name": '{{ product.product.name }}',
			        	"description": '',
			        	"unit_amount": { 
			        		"value": '{{ product.product.price }}', 
			        		"currency_code":"USD"
			        	},
			        	
			        	"quantity":'{{ product.quantity }}'
			        },
		        {% endfor %}
	        
	        ],
	        shipping: {
	        	"name": { 'full_name': "{{ user.firstName }} {{ user.lastName }}" },
		        "default_address": false,
		        "preferred_address": false,
		        "primary_address": false,
		        "disable_for_transaction": false,
		        "line1": "{{ user.addressLineOne }}",
		        "line2": "{{ user.addressLineTwo }}",
		        "city": "{{ user.addressCity }}",
		        "country_code": "{{ user.addressCountryCode }}",
		        "postal_code": "{{ user.addressPostcode }}",
		        "state": "{{ user.addressCounty }}",
		        "phone": ""
	        },
	        
	        description: "Shop Purchase Order"
	        }],
	        
	      });
	    }, 
	    onApprove: function(data, actions) {
	      // This function captures the funds from the transaction.
	      return actions.order.capture().then(function(details) {
	        // This function shows a transaction success message to your buyer.
	        alert('Transaction completed by ' + details.payer.name.given_name);
	      });
    }
	  }).render('.module-basket');
	</script>
	</div>
	
	
	
</div>
{% endblock %}
